@page "/order/histories"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@layout MainLayout2
<PageTitle>Order Histories</PageTitle>
<div>
    <h4 class="mb-3">This feature not available now</h4>
</div>
