@inherits LayoutComponentBase
@attribute [StreamRendering(false)]

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="Mini App" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded? MenuItemDisplayStyle.IconAndText: MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"/>
            <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" />
            <RadzenPanelMenuItem Text="Orders" Icon="lan">
                <RadzenPanelMenuItem Text="Order" Path="/orders/views" Icon="storefront" />
                <RadzenPanelMenuItem Text="Order Details" Icon="receipt_long" />
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Products" Icon="list_alt">
                <RadzenPanelMenuItem Text="Product" Path="/products" Icon="list_alt" />
                <RadzenPanelMenuItem Text="Category" Icon="category" Path="#"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Table" Icon="table" Path="#" />
            <RadzenPanelMenuItem Text="Customer" Icon="groups_2" Path="#" />
            <RadzenPanelMenuItem Text="User Management" Icon="group">
                <RadzenPanelMenuItem Text="User" Path="#" Icon="manage_accounts" />
                <RadzenPanelMenuItem Text="Role" Icon="receipt_long" Path="#" />
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Settings" Icon="settings">
                <RadzenPanelMenuItem Text="Service" Path="#" Icon="" />
                <RadzenPanelMenuItem Text="About" Icon="" Path="#" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="content">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = false;
}
