@page "/"

<PageTitle>Home</PageTitle>
@foreach(var item in products)
{
    <div class="product-item">
        <h3>@item.ProductCode</h3>
        <p>@item.ProductName</p>
        <p>Price: @item.Price?.ToString("c2")</p>
    </div>
}
)


