@page "/products"
@using MiniShopApp.Components.Layout
@layout MainLayout

@rendermode InteractiveServer
<PageTitle>Products</PageTitle>
<div>
    <div class="d-flex justify-content-center">
        <NavLink class="btn btn-primary" href="/products/create">Create Product</NavLink>

    </div>
    <table class="table caption-top table-bordered table-hover table-responsive">
        
        <caption>List of Products</caption>
        <thead class="">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">SubPrice</th>
                <th scope="col">Category</th>
                <th scope="col">Active</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in _products)
            {
                <tr>
                    <th scope="row">@list?.ProductCode</th>
                    <td>@list?.ProductName</td>
                    <td>@list?.Price</td>
                    <td>@list?.SubPrice</td>
                    <td>@list?.CategoryId</td>
                    <td>@list?.IsActive</td>
                    <td>@list?.ImageUrl</td>
                    <td>

                    </td>
                </tr>
            }
            
            
        </tbody>
    </table>
   
        
        
    
   
</div>


