<MudDialog>
    <DialogContent>
        <MudForm>
            <div class="mb-2">
                <label class="form-label" for="name">Category name</label>
                <input type="text" id="name" class="form-control" @bind="model.CategoryName" />
            </div>
            <div class="mb-2">
                <label class="form-label" for="desc">Descriptions</label>
                <textarea type="text" id="desc" class="form-control" @bind="model.Description" />
            </div>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveData">Save</MudButton>
    </DialogActions>
</MudDialog>


