@page "/"
@using MiniShopApp.Data.TelegramStore
@rendermode InteractiveServer
@layout MainLayout
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>
<div class="text-center my-4">
    <img src="/images/minilogo.jpg" alt="MiniShopApp Logo" class="img-fluid" style="max-width: 200px;" />
    <h1 class="mb-4">Welcome @user?.FirstName to Mini Order!</h1>
    <p>This is a simple Blazor application to demonstrate basic features.</p>
    <p>Use the navigation menu to explore the app.</p>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToOrder" Class="mt-3">
        Check Order
    </MudButton>


</div>

@code{
    async Task OnConfirm(){
        var result = await DialogService.ShowMessageBox("Confirmation", "Are you sure you want to proceed?", "Yes", "No");
        if (result == true)
        {
            SnackbarService.Add("You confirmed the action!", Severity.Success);
        }
        else
        {
            SnackbarService.Add("You canceled the action!", Severity.Warning);
        }
    }
    private void ToOrder()
    {
        NavigationManager.NavigateTo("/page/orders/create");
    }

    TelegramUserStore? user;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var initData = await JS.InvokeAsync<InitDataUnsafe>("telegramUserInfo.getInitDataUnsafe");
            user = initData?.User;
            StateHasChanged();
        }
    }

    public class InitDataUnsafe
    {
        public TelegramUserStore? User { get; set; }
    }
}