@page "/Index"
@rendermode InteractiveServer
@inject UserState userState
@layout EmptyLayout


<PageTitle>Home</PageTitle>
<div class="">
    @if (userId != null)
    {
        <div class="text-center my-4">
            <img src="/images/minilogo.jpg" alt="MiniShopApp Logo" class="img-fluid" style="max-width: 200px;" />
            <h1 class="mb-4">Welcome to Mini Order!</h1>
            <p>This is a simple Blazor application to demonstrate basic features.</p>
            <p>Use the navigation menu to explore the app.</p>
            <p class="mt-3">Check out the <NavLink class="btn btn-outline-secondary" href="/orders">Check Order</NavLink> page to view order.</p>
        </div>
    }
    else
    {
        <div class="alert alert-warning d-flex align-items-center" role="alert">

            <div>
                We couldn't find your information. Please refresh bot /start again to access the application features. Thank you for your patien!!!
            </div>
        </div>
        <div class="d-flex justify-content-center mt-auto">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }

</div>

