@page "/table/create"
<form>
    <div class="mb-2">
        <label class="form-label" for="name">Table Code</label>
        <input type="text" id="name" class="form-control" @bind="model.TableNumber"/>
    </div>
    <div class="mb-2">
        <label class="form-label" for="desc">Descriptions</label>
        <textarea type="text" id="desc" class="form-control" @bind="model.Description"/>
    </div>
</form>
<div class="d-flex justify-content-end">
    <button class="btn btn-primary" onclick="@SaveTable">Save</button>
    <button class="btn btn-danger">Cancel</button>
</div>


