@page "/table"

@inject IDialogService Dialog

<div class="mt-3">
    <div class="d-flex justify-content-between mb-2">
        <h5>Table list</h5>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Createtable">Create</MudButton>
    </div>
    <table class="table caption-top table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>No</th>
                <th>Table number</th>
                <th>Descriptions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var _data in model)
            {
                <tr>
                    <th>@_data.TableId</th>
                    <th>@_data.TableNumber</th>
                    <th>@_data.Description</th>
                    <th></th>
                </tr>
            }
        </tbody>
    </table>
</div>




