@page "/table"
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject IJSRuntime JSRuntime


<h3>TableIndex</h3>


@* <div class="rz-p-12 rz-text-align-end"> *@
@*     <RadzenButton Text="Show notification at custom position" *@
@*                   Click=@(args => ShowNotification(new NotificationMessage { Style = "position: absolute; inset-inline-start: -1000px;", Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Success Detail", Duration = 4000 })) /> *@
@* </div> *@


<div>
    <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-primary" onclick="@Createtable">Create Table</button>
    </div>
    <table class="table caption-top table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>No</th>
                <th>Table number</th>
                <th>Descriptions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>




